.titleTodo{
    .title{
        font-size:30px;
        font-weight:bold;
        margin: 20px;
        text-align: center;
    }
    .button-logout{
        text-align: end;
        width: 80%;
        margin-right: 10px;
    }
}
